<ion-content [fullscreen]="true" class="fondo">
  <div class="espacio"></div>
  <h1 class="texto">REGISTRAR CUENTA</h1>
  <form (ngSubmit)="register()">
    <ion-list style="background-color: transparent">
      <ion-item color="medium" class="ionItemm">
        <ion-input [(ngModel)]="miUsuario.nombre" name="nombre" type="text" placeholder="Nombre" required></ion-input>
      </ion-item>
      <ion-item color="medium" class="ionItemm">
        <ion-input [(ngModel)]="miUsuario.apellido" name="apellido" type="text" placeholder="Apellido" required></ion-input>
      </ion-item>
      <ion-item color="medium" class="ionItemm">
        <ion-input [(ngModel)]="miUsuario.email" name="email" type="email" placeholder="Email" required></ion-input>
      </ion-item>
      <ion-item color="medium" class="ionItemm">
        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required></ion-input>
      </ion-item>
      <ion-item color="medium" class="ionItemm">
        <ion-input [(ngModel)]="miUsuario.celular" name="celular" type="number" placeholder="Celular" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="danger" class="ionBtn" expand="block" type="submit">Registrarse</ion-button>
  </form>
</ion-content>