<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondo">
  <div class="espacio"></div>


  <H1  class="texto" >Actualizar perfil</H1>
  <ion-list style="background-color: transparent">
    <ion-item color="medium" class="ionItemm">
      <ion-input label="Nombre" labelPlacement="stacked" placeholder=""></ion-input>
    </ion-item>
    <ion-item color="medium" class="ionItemm">
      <ion-input label="Correo" labelPlacement="stacked" placeholder=""></ion-input>
    </ion-item>
    <ion-item color="medium" class="ionItemm">
      <ion-input label="Contraseña" labelPlacement="stacked" type="password" placeholder=""></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="danger"  class="ionBtn" expand="block"  (click)="user()">Guardar cambios</ion-button>
</ion-content>