.carta {
  background-color: rgb(212, 212, 212);
  color: white;
  border: solid 1px black;
}

.fondo {
  --background: url('./../../../../assets/img/FondoApp.png') 0/100% 100%;
}

.fondo ion-card-title,
ion-card-subtitle,
ion-card-content {
  color: black;
}

.btn {
  color: white;
  width: 55%;
  float: right;
  margin-top: -2%;
  margin-bottom: 2.5%;
}


.miniatura-imagen {
  width: 115px;
  height: 85px;
  float: right;
  margin-left: 60%;
}

.fondo ion-card-content h6 {
  margin-top: -25px;
}



.carta ion-card-content,
.carta ion-card-title,
.carta ion-card-subtitle {
  text-align: left;
}

.fondo ion-title {
  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

