.fondo {
    --background: url('./../../../assets/img/fondo.png') 0/100% 100%;
}

ion-content {
    color: black;
}


.titulo {
    margin-top: 200px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}