<ion-content [fullscreen]="true" class="fondo">
  <div class="espacio"></div>
  <div class="logo"></div>
  <p class="texto">Inicie sesión para continuar</p>
  <form (ngSubmit)="login()">
    <ion-list style="background-color: transparent">
      <ion-item class="ionItemm">
        <ion-label position="stacked">Gmail</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      <ion-item class="ionItemm">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="ionBtn" expand="full" color="danger" type="submit">INICIAR SESIÓN</ion-button>
  </form>
  <p class="texto2">¿Olvidaste tu contraseña?</p>
  <ion-button class="ionBtn" expand="full" fill="outline" color="danger" (click)="clave()">
    Actualizar clave
    <ion-icon name="person-add-outline" style="margin-left: 2%;"></ion-icon>
  </ion-button>
  <p class="txt">¿No tienes cuenta?</p>
  <ion-button class="ionBtn" expand="full" fill="outline" color="danger" (click)="reg()">
    REGISTRATE
    <ion-icon name="person-add-outline" style="margin-left: 2%;"></ion-icon>
  </ion-button>
  <ion-button class="ionBtn" expand="full" fill="outline" color="danger" (click)="regi()">
    REGISTRO CONDUCTOR
    <ion-icon name="person-add-outline" style="margin-left: 2%;"></ion-icon>
  </ion-button>

  <ion-button class="ionBtn" expand="full" fill="outline" color="danger" (click)="recuperar()">
    recetas
    <ion-icon name="person-add-outline" style="margin-left: 2%;"></ion-icon>
  </ion-button>


  <ion-button class="ionBtn" expand="full" fill="outline" color="danger" (click)="grabarReceta()">
     grabar recetas
    <ion-icon name="person-add-outline" style="margin-left: 2%;"></ion-icon>
  </ion-button>


  <ion-button class="ionBtn" expand="full" fill="outline" color="danger" (click)="eliminarReceta()">
    eliminar
   <ion-icon name="person-add-outline" style="margin-left: 2%;"></ion-icon>
 </ion-button>

 <form (submit)="grabarReceta()">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input type="text" [(ngModel)]="miReceta.titulo" name="titulo" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="miReceta.descripcion" name="descripcion" required></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Imagen</ion-label>
    <ion-input type="text" [(ngModel)]="miReceta.imagen" name="imagen" required></ion-input>
  </ion-item>
  <ion-button expand="full" type="submit">Guardar Receta</ion-button>
</form>



</ion-content>