<ion-content [fullscreen]="true" class="fondo">
  <div class="espacio"></div>


  <H1  class="texto" >RESTRABLECER CONTRASEÑA</H1>
  <ion-list style="background-color: transparent">
    <ion-item color="medium" class="ionItemm">
      <ion-input label="Correo" labelPlacement="stacked" placeholder=""></ion-input>
    </ion-item>

    <ion-button color="danger"  class="ionBtn" expand="block" fill="outline" >Enviar codigo</ion-button>


    <H6  class="texto" >INGRESE EL CODIGO QUE FUE ENVIADO A SU CORREO</H6>

    <ion-item color="medium" class="ionItemm">
      <ion-input label="Codigo" labelPlacement="stacked" placeholder=""></ion-input>
    </ion-item>



    <ion-item color="medium" class="ionItemm">
      <ion-input label="Contraseña" labelPlacement="stacked" type="password" placeholder=""></ion-input>
    </ion-item>


  </ion-list>
  <ion-button color="danger"  class="ionBtn" expand="block" (click)="menu()">Actualizar clave</ion-button>





</ion-content>