<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondo">
  <ion-title size="large">Forma de Pago</ion-title>

  <ion-card>
    <ion-card-header>
    <ion-card-title>Seleccione su manera de pagar</ion-card-title>
    <ion-toggle [enableOnOffLabels]="true" >Pagar con Credito o Debito</ion-toggle>
    <img alt="Tarjeta de Credito o debito" src="./../../../../assets/img/debito.png" />

      <ion-card-title>Seleccione su manera de pagar</ion-card-title>
      <ion-toggle [enableOnOffLabels]="true" [checked]="true">Pagar con efectivo</ion-toggle>
    </ion-card-header>
  </ion-card>



</ion-content>
