<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-title size="large">Ruta encontrada</ion-title>
  <ion-card class="carta">
    <ion-card-header>
      <ion-card-title>Claudia Sepulveda</ion-card-title>
      <img src="./../../../../assets/img/mjer.jpg" alt="Miniatura de la imagen" class="miniatura-imagen">
      <ion-card-subtitle >Marca: Nissan</ion-card-subtitle>
      <ion-card-subtitle >Patente: 33RRXA</ion-card-subtitle>
      <img src="./../../../../assets/img/auto.png" alt="Miniatura de la imagen" class="miniatura-imagen">
      <ion-card-subtitle>Inicio viaje: Duoc Puente alto</ion-card-subtitle>
      <ion-card-subtitle>Destino: Estacion Central</ion-card-subtitle>
      <ion-card-subtitle>Hora espera: 13:15-13:25</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" class="btn" color="danger" (click)="chat()">Aceptar viaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>