.fondo {
    --background: url('./../../../../assets/img/FondoApp.png') 0/100% 100%;
  }
  
  
  .fondo ion-title {
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }