<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondo">
  <ion-title size="large">Cuenta bancaria</ion-title>

  <ion-card>
    <ion-card-header>
    <ion-card-title>Seleccione la tarjeta donde recibira su pago</ion-card-title>
    <img alt="Tarjeta de Credito o debito" src="./../../../../assets/img/debito.png" />


    </ion-card-header>
  </ion-card>



</ion-content>
